@font-face {
    font-family: 'BondieRounded';
    src: url('fonts/BondieRoundedDemoRegular-G33qA.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Faddish';
    src: url('./fonts/Faddish-MAl6Y.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tye-Paloon';
    src: url('./fonts/TyePaloon-m12m.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.title-banner {
    background-color: #f1dad3;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 40px auto;
}

.title-main {
    font-family: 'Faddish', Arial, sans-serif;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.caption {
    font-family: 'Tye-Paloon', sans-serif;
    color: #555;
    font-size: 0.8rem;
}

.back-button {
    position: fixed;
    top: 20px;
    left: 20px; /* Changed from 'right' to 'left' */
    z-index: 1000;
    text-decoration: none; /* Removes the default underline from the link */
    color: #333; /* Sets the text color */
    display: flex; /* Enables Flexbox for easy alignment */
    flex-direction: column; /* Stacks the child elements vertically */
    align-items: center; /* Centers the image and text horizontally */
    font-family: 'BondieRounded', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.back-button img {
    width: 50px;
    height: auto;
    cursor: pointer;
    margin-bottom: 5px; /* Adds a small gap between the image and the text */
}

.back-button:hover {
    color: #dfc9aa; /* Changes the text color on hover */
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    border: 8px solid #dfc9aa;
    height: 100vh; /* Change this from min-height */
    margin: 0;
}